# Библиотека для работы с GigaChat API через SDK
gigachat>=0.1.10

# Для работы с REST API
requests>=2.31.0

# Для загрузки переменных окружения из .env файла
python-dotenv>=1.0.0

# Веб-интерфейс
Flask>=3.0.0

